[Unit]
Description=Diffie-Hellman group generator
Requisite=goauthentik.service


[Service]
Type=oneshot
ExecStart=runagent generate-dhpem
#ExecStartPost=/usr/bin/podman cp "certificates/goauthentik.pem certificates/key.pem certificates/cert.pem certificates/dh.pem" goauthentik-app:certs/
#ExecStartPost=/usr/bin/podman  cp certificates/goauthentik.pem goauthentik-app:certs/goauthentik.pem
#ExecStartPost=/usr/bin/podman  cp certificates/key.pem goauthentik-app:certs/key.pem
#ExecStartPost=/usr/bin/podman  cp certificates/cert.pem goauthentik-app:certs/cert.pem
#ExecStartPost=/usr/bin/podman  cp certificates/dh.pem goauthentik-app:certs/dh.pem
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N

