#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a goauthentik instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Podman goauthentik app
BindsTo=goauthentik.service
After=goauthentik-redis.service goauthentik-pgsql.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/database.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/goauthentik.pid %t/goauthentik.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStartPre=mkdir -vp config
#ExecStartPre=-runagent expand-configuration
ExecStartPre=-runagent install-certificate
ExecStartPre=bash -c "while [ ! -f certificates/goauthentik.pem ]; do sleep 1; done"
ExecStartPre=bash -c "while [ ! -f certificates/dh.pem ]; do sleep 1; done"
ExecStartPost=/usr/bin/podman exec goauthentik-app ak import_certificate --certificate /certs/goauthentik.pem --private-key  /certs/dh.pem --name goauthentik
# ExecStartPost=/usr/bin/timeout 30 bash -c 'until podman exec %N /lifecycle/ak healthcheck; do sleep 1; done'
ExecStart=/usr/bin/podman run \
    --detach \
    --user root \
    --conmon-pidfile=%t/goauthentik.pid \
    --pod-id-file=%t/goauthentik.pod-id \
    --cidfile=%t/goauthentik.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env-file=smarthost.env \
    --env=goauthentik_* \
    --env=AUTHENTIK_REDIS__HOST=127.0.0.1 \
    --env=goauthentik_DBENGINE=postgresql \
    --env=AUTHENTIK_POSTGRESQL__HOST=127.0.0.1 \
    --env=AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DATABASE} \
    --env=AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER} \
    --env=AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD} \
    --env=AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY} \
    --volume=goauthentik-media:/media \
    --volume=./certificates:/certs \
    --volume=custom-templates:/templates \
    --volume=goauthentik-sock:/var/run/docker.sock \
    ${AUTHENTIK_IMAGE}
ExecReload=mkdir -vp config
# ExecReload=-runagent expand-configuration
ExecReload=-runagent install-certificate
ExecReload=bash -c "while [ ! -f certificates/goauthentik.pem ]; do sleep 1; done"
ExecReload=bash -c "while [ ! -f certificates/dh.pem ]; do sleep 1; done"
ExecReload=/usr/bin/podman exec goauthentik-app ak import_certificate --certificate /certs/goauthentik.pem --private-key  /certs/dh.pem --name goauthentik
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/goauthentik.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/goauthentik.ctr-id
PIDFile=%t/goauthentik.pid
Type=forking

[Install]
WantedBy=default.target